# Executables and local files
main*
*.local.*

# Exclude source files, bar local ones
!*.cpp
*.local.cpp

# C++ object code files and libraries
*.a
*.o
*.lo
*.so
*.so.*
# TODO temporary:
!bnplib.cpython-*

# Protocol Buffers files
*.recordio

# Output files
Rplots.pdf

# Python cache
src/python/__pycache__/*

# Callgrind output files
callgrind*
