# Executables and local files
main*
*.local.*

# Exclude source files, bar local ones
!*.cpp
*.local.cpp

# C++ object code files and libraries
*.a
*.o
*.lo
*.so
*.so.*

# Protocol Buffers files
*.recordio

# Output files
Rplots.pdf

# Python and R cache
src/python/__pycache__/*
.Rhistory
.Rdata

# Callgrind output files
callgrind*

# Documentation folder
doc/*
